*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:  #373737;
}
h1{
    position: relative;
    font-size: 35px;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 15px;
}
#form{
    position: relative;
}
#email{
    width: 300px;
    background-color: #292929;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 19px;
}
#password{
        width: 300px;
        background-color: #292929;
        outline: none;
        border: none;
        padding: 10px;
        border-radius: 5px;
        color: white;
        font-size: 19px;

}
#submit{
    background-color: #ff0202;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s;
}
#submit:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid #00fffb;
    cursor: pointer;  /* Pseodo Class property*/
}